.form {
	width: 250px;
}

.form__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form__title {
	margin-bottom: 0.5em;
	font-size: 1.2em;
	display: inline-block;
}

.form__close {
	background: none;
	border: none;
	color: #888;
	font-size: 1.5em;
	cursor: pointer;
	padding: 0;
}

.form__close:hover {
	color: orange;
}

.form__content {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.form__group {
	display: flex;
	flex-direction: column;
}

.form__label {
	font-weight: 600;
	font-size: small;
}

.form__input {
	background-color: rgb(241, 241, 251);
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.5em 0.75em;
}

.form__submit {
	background-color: #003f5c;
	border-radius: 7px;
	outline-offset: -2px;
	color: #fff;
	font-weight: 400;
	padding: 0.5em 1.3em;
	width: auto;
	max-width: 180px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
	font-size: 14px;
}

.form__submit:hover {
	background-color: #008b8c;
	transform: scale(1.05);
}
