:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #d8f3dc;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: 'Host Grotesk', sans-serif;
}

button {
	border: 1px solid;
	padding: 0.25em 1em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #f0f0f0;
	cursor: pointer;
	transition: border-color 0.25s;
}

/* main */

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 2em 1.1em;
}

/* Pantallas */
/* @media (max-width: 1024px) {
	.container {
		max-width: 90%;
		padding: 1.5em;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: 95%;
		padding: 1em;
	}
}

@media (max-width: 500px) {
	.container {
		max-width: 100%;
		padding: 0.8em;
	}
}

@media (max-width: 370px) {
	.container {
		max-width: 100%;
		padding: 0.5em;
	}
} */
